/*
COLORS
 */


nav.notbody.navbar.navbar-dark.bg-dark.top-navbar.top-nav {
    background-color: #004466 !important;
}
footer#sticky-footer {
    background-color: #004466 !important;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1), 0 -6px 10px 0 rgba(0, 0, 0, 0.09);
}
.btn.btn-secondary {
    background-color: #326984 !important;
    border-color: #046;
}
.btn.btn-secondary:hover {
    background-color: #4c7c93 !important;
}
.second-nav {
    background: #eee !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
.sidebar {
    color: #046;
}

/*
 COLORS
 */

* {
    font-family: 'Roboto';
}

@media (max-width: 575.98px) {
    .container {
        min-width: 100%;
    }
}
.second-nav {
    justify-content: flex-start;
}


.top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

body {
    margin-top: 17px;
    margin-bottom: 5em;
    overflow-x: hidden;
    background: #fff;
}
h1, h2, h3 {
    color: #046;
    font-weight: 800;
}

h1 {
    font-size: 2.0rem;
}

nav.top-nav {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
}

.container {
    z-index: 0;
}

.container * {
    z-index: 0;
}

.light-text {
    color: #4c7c93;
}
.dark-text {
    color: #046;
}
.white-text {
    color: #fff;
}

.light-back {
    background-color: #4c7c93;
}
.dark-back {
    background-color: #046;
}
.white-back {
    background-color: #fff;
}


table.downloads-table {
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    table-layout: auto;
    max-width: 100% !important;
}
table.downloads-table th, table.downloads-table td, table.downloads-table thead th,
table.downloads-table tbody td, table.downloads-table tfoot td, table.downloads-table tfoot th {
    width: auto;
}
table.downloads-table tbody tr:hover {
    background: #e5ecef;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.centered {
    position: fixed;
    width: 800px;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.big-icon {
    font-size: 6em !important;
    margin: 20px;
}

/* new styles */

.iconos {
    height: 100px;
    width: 100px;
    text-align: center;
    margin-bottom: 2%;
}

.imghe {
    /*
    height: 250px;
    width: 380px;
    */
}

.iconsdesing {
    text-align: center;
    color: white;
    padding: 2%;

}

.line {
    height: 4px;
    background: rgba(76,76,76,1);
}

.space {
    height: 60px;
}

.cent {
    background: white;
    opacity: 0.8;
    padding: 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.positioncen {
    color: black;
    background:white;
    opacity: 0.5;
    padding: 2%;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.cont {
    position: relative;
    display: inline-block;
    text-align: center;
}

.card {
}

.slick-dots li button {
    background: white !important;
}

.footer {
    background:#0C0C0C;
    color:white;
    font-size: 12px;
}

.textcol {
    padding: 2%;
}

.posicion {
    opacity: 0.2;
    height: 650px;
    width: 100%;
}



/* */

.advanced-filters {
    color: white;
    background: #343a40;
    width: 100%;
}

.advanced-filters * {
    color: white;
}

.advanced-filters input, .advanced-filters i, .advanced-filters select, .advanced-filters option {
    color: black !important;
}

.advanced-filters i#hide-advanced-search {
    color: white !important;
}

.scoring-source.scoring-source-small .scoring-source-logo {
    height: 1.5em;
}
.scoring-source.scoring-source-small .scoring-source-value {
    position: absolute;
    bottom: -8px;
    right: 2px;
    text-shadow: 2px 2px 4px #000000;
    font-weight: 800;
    font-size: 80%;
}

.scoring-source {
    float: left;
    position: relative;
    text-align: center;
    color: white;
}

.scoring-source .scoring-source-value {
    position: absolute;
    bottom: -8px;
    right: 2px;
    text-shadow: 2px 2px 4px #000000;
    font-weight: 800;
}

.scoring-source .scoring-source-logo {
    height: 2em;
}

.float-restore {
    clear: left;
}

.main-image {
    float: right;
    width: 200px;
    height: 294px;
}

a {
    font-weight: 800;
    color: #5c6166;
}

a:visited {
    color: #5c6166;
}

a:hover {
    color: #8c9093;
    text-decoration: none;
}

a.secondary {
    font-weight: 800;
    color: #84324e;
}

a.secondary:visited {
    color: #84324e;
}

a.secondary:hover {
    color: #b58494;
    text-decoration: none;
}

.notbody a {
    font-weight: 800;
    color: white;
}

.notbody a:visited {
}

.notbody a:hover {
    color: #ccc;
    text-decoration: none;
}


.filmstreator-logo {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white !important;
    color: #343a40 !important;
    font-size: 1.5em;
}

.text_with_2px_border {
    letter-spacing: 5px;
    text-shadow:
        /* first layer at 1px */
        -1px -1px 0px #fff,
         0px -1px 0px #fff,
         1px -1px 0px #fff,
        -1px  0px 0px #fff,
         1px  0px 0px #fff,
        -1px  1px 0px #fff,
         0px  1px 0px #fff,
         1px  1px 0px #fff,
        /* second layer at 2px */
        -2px -2px 0px #fff7,
        -1px -2px 0px #fff7,
         0px -2px 0px #fff7,
         1px -2px 0px #fff7,
         2px -2px 0px #fff7,
         2px -1px 0px #fff7,
         2px  0px 0px #fff7,
         2px  1px 0px #fff7,
         2px  2px 0px #fff7,
         1px  2px 0px #fff7,
         0px  2px 0px #fff7,
        -1px  2px 0px #fff7,
        -2px  2px 0px #fff7,
        -2px  1px 0px #fff7,
        -2px  0px 0px #fff7,
        -2px -1px 0px #fff7 !important;
    color: #343a40 !important;
    font-size: 1.5em;
}
.text_with_2px_border_inverted {
    letter-spacing: 5px;
    text-shadow:
        /* first layer at 1px */
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000,
        /* second layer at 2px */
        -2px -2px 0px #0007,
        -1px -2px 0px #0007,
         0px -2px 0px #0007,
         1px -2px 0px #0007,
         2px -2px 0px #0007,
         2px -1px 0px #0007,
         2px  0px 0px #0007,
         2px  1px 0px #0007,
         2px  2px 0px #0007,
         1px  2px 0px #0007,
         0px  2px 0px #0007,
        -1px  2px 0px #0007,
        -2px  2px 0px #0007,
        -2px  1px 0px #0007,
        -2px  0px 0px #0007,
        -2px -1px 0px #0007 !important;
    color: #000 !important;
    font-size: 1.5em;
}

.navbar li {
    list-style-type: none;
}


.readable-text {
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}

nav .active {
    background: #99b4c1;
    border-radius: 4px;
}

.second-nav {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    margin-top: -1px;
}

/* SOCIAL LINKS */

.social-links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.resp-sharing-button__link {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.resp-sharing-button {
    width: 8em;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
    border-radius: 5px;
}

a.resp-sharing-button__link:visited {
    color: white;
}
a.resp-sharing-button__link:hover {
    color: white;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none;
vertical-align: text-top;
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #3a80c1;
  border-color: #3a80c1;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}


.dropdown-menu {
    left: -60px;
    right: 20px;
}

li.nav-item {
    width: 33%;
    max-width: 8em;
    text-align: center;
}


.table td, .table th {
    vertical-align: middle;
}

.table.table-hover.table-dark {
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.table.table-hover.table-dark td {
    border-radius: 5px;
}
.table.table-hover.table-dark th {
    border-radius: 5px;
}

table {
    table-layout:fixed;
}
td {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
@media only screen and (max-width: 480px) {
    /* horizontal scrollbar for tables if mobile screen */
    .tablemobile {
        overflow-x: auto;
        display: block;
    }
}

/* *************************************************************************************************************** */
/* SIDENAV */
.navbar {
    z-index: 100 !important;
}

nav.sidebar {
    position: fixed;
    width: 20em;
    height: 100vh;
    padding: 0 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    top: 0;
    margin-top: 118px;
}

section.content {
    margin-left: 20em;
}

section.content .main-container.container-fluid {
    padding: 0px 30px;
}

.main-container.container {
    margin-top: 56px;
}

.wrapper {
    margin-top: 56px;
}

nav.sidebar label {
    margin-top: 10px;
}

div.audiovisual-item-container {
    position:relative;
    padding: 5px;
    overflow: hidden;
    height: 220px;
    width: 49%;
    max-width: 180px;
    display: inline-block;
    transition: transform .2s ease;
}

div.audiovisual-item-container:hover {
    transform: scale(1.05);
    z-index: 10;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.downloads-table-big-screens {
    display: table;
}
.downloads-table-small-screens {
    display: none;
    word-break: break-all;
}
/* Narrow screens like mobile phones */

@media (max-width: 750px) {
    .downloads-table-big-screens {
        display: none;
    }
    .downloads-table-small-screens {
        display: block;
    }

    .top-navbar {
        position: static;
    }
    .notbody.navbar * {
        font-size: .950rem;
        letter-spacing: initial;
    }
    * {
        font-size: .900rem;
    }
    h1, h2, h3 {
        font-size: 1.5rem;
    }
    footer {
        position: static;
    }
    .wrapper {
        margin-top: 20px;
    }
    .second-nav {
        position: static;
    }
    nav.sidebar {
        display: block;
        position: static;
        width:100%;
        height: auto;
        box-shadow: none;
        margin-top: 20px;
    }
    section.content {
        margin-left: 0em;
    }
    section.content .main-container.container-fluid {
        padding: 0px 10px;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .dropdown-menu {
        margin-top: -90px;
    }
    .centered {
        margin-top: 50px;
    }
    body {
        margin-bottom: 0em;
        margin-top: 0px;
        padding-top: 0px !important;
    }
    .main-container.container-fluid {
        margin-top: -1.5em !important;
    }
    .main-container.container{
        margin-top: 0px;
        margin-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .main-image {
        float: right;
        width: 150px;
        height: 224px;
    }
    .second-nav.details, .second-nav.dmca, .second-nav.terms {
        display: none;
    }
}



#language-tabs li {
    position: relative;
    width: 5em;
}

#language-tabs li a {
    height: 100%;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
}

#language-tabs li a.active {
    background-color: #4c7c93;
    color: white;
}
.nav-tabs {
    border-bottom: 0px;
}


.trailer-iframe {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    max-width: 600px;
    height: 350px;
    width: 100%;
}