* {
    font-family: 'Roboto';
}

.top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

body {
    margin-top: 5em;
    margin-bottom: 5em;
}


nav.top-nav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

.container {
    z-index: 0;
}

.container * {
    z-index: 0;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.centered {
    position: fixed;
    width: 800px;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.big-icon {
    font-size: 6em;
    color: black;
    margin: 20px;
}

/* new styles */

.iconos {
    height: 100px;
    width: 100px;
    text-align: center;
    margin-bottom: 2%;
}

.imghe {
    height: 250px;
    width: 380px;
}

.iconsdesing {
    text-align: center;
    color: white;
    padding: 2%;

}

.line {
    height: 4px;
    background: rgba(76,76,76,1);
}

.space {
    height: 60px;
}

.cent {
    background: white;
    opacity: 0.8;
    padding: 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.positioncen {
    color: black;
    background:white;
    opacity: 0.5;
    padding: 2%;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.cont {
    position: relative;
    display: inline-block;
    text-align: center;
}

.card {
    /* background-color: #0D0D0D; */
    color: #014FA4;
}

.slick-dots li button {
    background: white !important;
}

.footer {
    background:#0C0C0C;
    color:white;
    font-size: 12px;
}

.textcol {
    padding: 2%;
}

.posicion {
    opacity: 0.2;
    height: 650px;
    width: 100%;
}



/* */

.advanced-filters {
    color: white;
    background: #343a40;
    width: 100%;
}

.advanced-filters * {
    color: white;
}

.advanced-filters input, .advanced-filters i {
    color: black !important;
}

.advanced-filters i#hide-advanced-search {
    color: white !important;
}