* {
    font-family: 'Roboto';
}

.top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

body {
    margin-top: 5em;
    margin-bottom: 5em;
}


nav.top-nav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

.container {
    z-index: 0;
}

.container * {
    z-index: 0;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.centered {
    position: fixed;
    width: 800px;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.big-icon {
    font-size: 6em;
    color: black;
    margin: 20px;
}