/*
COLORS
 */

.second-nav {
    background: #40464b;
    border-bottom: 2px solid #f2cb80;
    /*box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);*/
}

* {
    font-family: 'Roboto', sans-serif;
}
html, section.content {
    background: #eee;
}

@media (max-width: 575.98px) {
    .container {
        min-width: 100%;
    }
}
.second-nav {
    justify-content: flex-start;
}


.top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #F2CB80;
}

body {
    margin-top: 17px;
    margin-bottom: 5em;
    overflow-x: hidden;
    background: #eee;
}

h1, h2, h3, h4, h5, label {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 1.2em;
}
h2 {
    font-size: 1.15em;
}
h3 {
    font-size: 1.1em;
}
h4 {
    font-size: 1.05em;
}
h5 {
    font-size: 1.0em;
}




nav.top-nav {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.09);
    z-index: 2;
}

.container {
    z-index: 0;
}

.container * {
    z-index: 0;
}



table.downloads-table {
    /*
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
     */
    table-layout: auto;
    max-width: 100% !important;
    margin-bottom: 0;
}
table.downloads-table th, table.downloads-table td, table.downloads-table thead th,
table.downloads-table tbody td, table.downloads-table tfoot td, table.downloads-table tfoot th {
    width: auto;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.centered {
    position: fixed;
    width: 800px;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.big-icon {
    font-size: 6em !important;
    margin: 20px;
}

/* new styles */

.iconos {
    height: 100px;
    width: 100px;
    text-align: center;
    margin-bottom: 2%;
}

.imghe {
    /*
    height: 250px;
    width: 380px;
    */
}

.iconsdesing {
    text-align: center;
    color: white;
    padding: 2%;

}

.line {
    height: 4px;
    background: rgba(76,76,76,1);
}

.space {
    height: 60px;
}

.slick-dots li button {
    background: white !important;
}

.footer {
    background:#0C0C0C;
    color:white;
    font-size: 12px;
}

.textcol {
    padding: 2%;
}

.posicion {
    opacity: 0.2;
    height: 650px;
    width: 100%;
}

.genre-accordion-btn {
    width: 100%;
    padding: 8px 5px;
    background: #40464b;
    color: #f4d599;
    border: 0 solid black;
    outline:0 !important;
    text-align: left;
    padding-left: 20px;
}
.genre-accordion-btn[aria-expanded="true"]{
    background: #53585d;
    font-weight: 800;
}
.genre-accordion-btn i {
    margin-right: 5px;
}
.genre-accordion-btn[aria-expanded="false"] i {
    /*transition: transform .3s ease-in-out;*/
    transform: rotate(0deg);
}
.genre-accordion-btn[aria-expanded="true"] i {
    transform: rotate(90deg);
    /*transition: transform .3s ease-in-out;*/
}


#accordion .card-body {
    padding: 0;
}

.genre-epoch-link {
    padding: 8px 1.8rem;
    /*margin-left: 10px;*/
    color: #f4d599;
    background: #40464b;
    display: block;
}
.genre-epoch-link:visited {
    color: #f4d599;
    background: #40464b;
}
.genre-epoch-link.active {
    /*margin-left: 10px;*/
    color: #fff;
    background: #53585d;
}





/* */

.advanced-filters {
    width: 100%;
}

.scoring-source.scoring-source-small .scoring-source-logo {
    height: 1.5em;
}
.scoring-source.scoring-source-small .scoring-source-value {
    position: absolute;
    bottom: -8px;
    right: 2px;
    font-weight: 800;
    font-size: 80%;
}

.scoring-source {
    float: right;
    position: relative;
    text-align: center;
    color: white;
}

.scoring-source.details {
    top: -7px;
}

.scoring-source .scoring-source-value {
    position: absolute;
    bottom: -8px;
    right: 2px;
    text-shadow: 1px 1px 2px #000000;
    font-weight: 800;
}

.scoring-source .scoring-source-logo {
    height: 2em;
}

.float-restore {
    clear: left;
}

.main-image {
    float: right;
    width: 200px;
    height: 294px;
    max-width: 100%;
}

a {
    font-weight: 800;
    color: #9d904d;
}

a:visited {
    color: #9d904d;
}

a:hover {
    text-decoration: none;
    color: #eadc9a;
}


.navbar a.nav-link, .navbar a.dropdown-item {
    color: #f4d599;
}
.navbar a.nav-link:visited, .navbar a.dropdown-item:visited {
    color: #f4d599;
}
.navbar a.nav-link:hover, .navbar a.dropdown-item:hover {
    font-weight: 800;
    color: #fff;
}


.dropdown-item.active, .dropdown-item:active {
    background-color: #ccc;
}



a.secondary {
    font-weight: 300;
}

a.secondary:visited {
}

a.secondary:hover {
    text-decoration: none;
}

.notbody a {
    font-weight: 300;
    color: white;
}

.notbody a:visited {
}

.notbody a:hover {
    text-decoration: none;
}


.filmstreator-logo {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: #343a40;
    font-size: 1.5em;
}

.text_with_2px_border {
    font-family: 'Fascinate Inline', cursive;
    color: #343a40 !important;
    font-size: 1.5em;
}

.text_with_2px_border_inverted {
    letter-spacing: 5px;
    text-shadow:
        /* first layer at 1px */
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000,
        /* second layer at 2px */
        -2px -2px 0px #0007,
        -1px -2px 0px #0007,
         0px -2px 0px #0007,
         1px -2px 0px #0007,
         2px -2px 0px #0007,
         2px -1px 0px #0007,
         2px  0px 0px #0007,
         2px  1px 0px #0007,
         2px  2px 0px #0007,
         1px  2px 0px #0007,
         0px  2px 0px #0007,
        -1px  2px 0px #0007,
        -2px  2px 0px #0007,
        -2px  1px 0px #0007,
        -2px  0px 0px #0007,
        -2px -1px 0px #0007 !important;
    color: #000 !important;
    font-size: 1.5em;
}

.navbar li {
    list-style-type: none;
}


.readable-text {
    text-shadow:
        0.05em 0 #0007,
        0 0.05em #0007,
        -0.05em 0 #0007,
        0 -0.05em #0007,
        -0.05em -0.05em #0007,
        -0.05em 0.05em #0007,
        0.05em -0.05em #0007,
        0.05em 0.05em #0007;
}

/*
.readable-text {
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}
 */


nav .active {
    /*background: #ccc;*/
    background: #53585d;
    /* border-radius: 4px; */
}

.dropdown-menu {
    padding: 0;
}
.second-nav {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    margin-top: -1px;
    border-bottom: 2px solid #f2cb80;
    background: #40464b;
}

/* SOCIAL LINKS */

.social-links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.resp-sharing-button__link {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.resp-sharing-button {
    width: 8em;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
    border-radius: 5px;
}

a.resp-sharing-button__link:visited {
    color: white;
}
a.resp-sharing-button__link:hover {
    color: white;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none;
vertical-align: text-top;
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #3a80c1;
  border-color: #3a80c1;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}


.dropdown-menu {
    left: -60px;
    right: 20px;
}

li.nav-item {
    width: 33%;
    max-width: 8em;
    text-align: center;
}


.table td, .table th {
    vertical-align: middle;
}

.table.table-hover {
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.table.table-hover td {
    border-radius: 5px;
}
.table.table-hover th {
    border-radius: 5px;
}

tbody tr:hover {
    background: #f7f7f7;
}

table {
    table-layout:fixed;
}
td {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
@media only screen and (max-width: 480px) {
    /* horizontal scrollbar for tables if mobile screen */
    .tablemobile {
        overflow-x: auto;
        display: block;
    }
}

/* *************************************************************************************************************** */
/* SIDENAV */
.navbar {
    z-index: 100 !important;
}

nav.sidebar {
    position: fixed;
    width: 20em;
    height: 100vh;
    padding: 20px 0px 110px 0px;
    background: #40464b;
    top: 0;
    margin-top: 62px;
    overflow-y: auto;
    z-index: 1000;
}

nav.sidebar form {
    margin: 10px;
}
nav.sidebar hr {
    border-top: 1px solid #777;
    margin: 10px;
}

nav.sidebar h5, nav.sidebar label {
    color: #f4d599;
}

section.content {
    margin-left: 20em;
}

section.content .main-container.container-fluid {
    padding: 0px 30px;
}

.main-container.container {
    margin-top: 56px;
}

/*.wrapper {*/
/*    margin-top: 56px;*/
/*}*/

nav.sidebar label {
    margin-top: 10px;
}

div.audiovisual-item-container {
    position:relative;
    padding: 5px;
    overflow: hidden;
    height: 220px;
    width: 49%;
    max-width: 180px;
    display: inline-block;
    transition: transform .2s ease;
}

div.audiovisual-item-container:hover {
    transform: scale(1.05);
    z-index: 10;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.downloads-table-big-screens {
    display: table;
}
.downloads-table-small-screens {
    display: none;
    word-break: break-all;
}
/* Narrow screens like mobile phones */
@media (max-width: 815px) {
    * {
        font-size: .900rem;
    }
    nav.sidebar {
        margin-top: 52px;
    }
}

@media (max-width: 750px) {
    .download-element-container {
        padding: 5px;
    }
    .downloads-table-big-screens {
        display: none;
    }
    .downloads-table-small-screens {
        display: block;
    }

    .top-navbar {
        position: static;
    }
    .notbody.navbar * {
        font-size: .950rem;
        letter-spacing: initial;
    }
    * {
        font-size: .900rem;
    }
    h1, h2, h3 {
        font-size: 1.5rem;
    }
    footer {
        position: static;
    }
    .wrapper {
        margin-top: 20px;
    }
    .second-nav {
        position: static;
    }
    nav.sidebar {
        display: block;
        position: static;
        width:100%;
        height: auto;
        box-shadow: none;
        margin-top: 0px;
    }
    section.content {
        margin-left: 0em;
    }
    section.content .main-container.container-fluid {
        padding: 0px 10px;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .dropdown-menu {
        margin-top: -90px;
    }
    .centered {
        margin-top: 50px;
    }
    body {
        margin-bottom: 0em;
        margin-top: 0px;
        padding-top: 0px !important;
    }
    .main-container.container-fluid {
        margin-top: -1.5em !important;
    }
    .main-container.container{
        margin-top: 0px;
        margin-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .main-image {
        float: right;
        width: 150px;
        height: 224px;
        max-width: 100%;
    }
    .second-nav.details, .second-nav.dmca, .second-nav.terms {
        display: none;
    }
}



#language-tabs li {
    position: relative;
    width: 6em;
}

#language-tabs li a {
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    display: inline-block;
}

#language-tabs li a {
    border-top: 4px solid #0000;
    font-weight: 300;
}

#language-tabs li a:hover {
    background: #f7f7f7;
    color: black;
}

.filmcard.downloads {
    padding: 0 !important;
}

#language-tabs li a.active {
    border-top: 4px solid #FAE57C;
    font-weight: 800;
}
.nav-tabs {
    border-bottom: 0px;
}


.trailer-iframe {
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19); */
    /* max-width: 600px; */
    /* height: 350px; */
}


:focus {
    outline: 0;
}


.filmcard-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.filmcard-wrapper .filmcard-title h1 {
    font-weight: 300;
    font-size: 1.2em;
    color: #555;
}

.filmcard-wrapper .filmcard {
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    padding: 0.5em;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.filmcard-wrapper .filmcard .filmcard-footer {
    margin-top: auto;
    width:100%;
    height: 4em;
    text-align: right;
}

.filmcard-footer * {
    font-size: 0.9em;
}

.trailer-container {
    position: relative;
    /* padding-top: 56.25%; */ /* 16:9 */
    /* padding-top: 75%; */ /* 4:3 */
    padding-top: 65%;
    width: 100%;
}
