{% extends "web/base.html" %}
{% load static %}
{% block title %}Filmstreator{% endblock %}

{% block body %}

<nav class="notbody navbar navbar-dark bg-dark top-navbar top-nav">
    <a class="text_with_2px_border navbar-brand" href="/">Filmstreator</a>
    {% include 'web/fragment_landing_filters.html' %}
</nav>

{% if genres_names %}
<nav class="navbar navbar-default navbar-static-top second-nav">
    {% for genres_name in genres_names %}
        {% if forloop.counter < 6 %}
        <li class="nav-item{% if genres_name == current_genre %} active{% endif %}">
            <a class="nav-link" href="/genres/{{ genres_name }}/">{{ genres_name }}<span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
    {% endfor %}

    {% if genres_names|length > 5 %}

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for genres_name in genres_names %}
                {% if forloop.counter > 5 %}
                <a class="dropdown-item{% if genres_name == current_genre %} active{% endif %}" href="/genres/{{ genres_name }}/">{{ genres_name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </li>
    {% endif %}
</nav>
{% endif %}

<div class="wrapper">
    <nav class="sidebar">
        <form action="/" method="GET" autocomplete="off">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="Search" name="name__icontains"
                    value="{% if filter_params.formtype == 'advanced' %}{{ filter_params.name__icontains }}{% endif %}">

            <label>Ordering</label>
            <select name="ordering" class="form-control">
                <option>Score from best to worst</option>
                <option>Score from worst to best</option>
            </select>
            <label>Wanted genres</label>
            <select class="form-control" name="genres" multiple="multiple" size="7">
                {% for genres_name in genres_names %}
                    <option>{{ genres_name }}</option>
                {% endfor %}
            </select>
            <label>From year:</label>
            <select class="form-control">
                <option>1980</option>
                <option>1990</option>
                <option>2000</option>

            </select>
            <label>To year:</label>
            <select class="form-control">
                <option>1980</option>
                <option>1990</option>
                <option>2000</option>
            </select>
            <br>
            <div class="text-center">
                <input type="submit" name="submit" value="Search" class="btn btn-secondary">
            </div>
        </form>
    </nav>
    <section class="content">
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </section>
</div>
<!-- footer -->
<br>
{% include 'web/fragment_footer.html' %}
{% endblock %}
