{% extends "web/base_with_menu_and_footer.html" %}
{% load static %}
{% load miscellaneous %}
{% block title %}Filmstreator - Download {{ audiovisual_record.name }} torrent{% endblock %}
    {% block head_extra %}
    {{ block.super }}
    <meta name="description" content="Download {{ audiovisual_record.name }} torrent. {{ audiovisual_record.name }} was Writen by {{ audiovisual_record.writers | map:"name" | join:", " }} and directed by {{ audiovisual_record.directors | map:"name" | join:", " }} in the year {{ audiovisual_record.year }}.{% if audiovisual_record.summary %} Summary: {{ audiovisual_record.summary }}{% endif %}">
    <meta property="og:title" content="Download {{ audiovisual_record.name }} torrent. {{ audiovisual_record.name }} was Writen by {{ audiovisual_record.writers | map:"name" | join:", " }} and directed by {{ audiovisual_record.directors | map:"name" | join:", " }} in the year {{ audiovisual_record.year }}.{% if audiovisual_record.summary %} Summary: {{ audiovisual_record.summary }}{% endif %}"/>
    <meta name="keywords" content="{{ audiovisual_record.name }} download torrent magnet links">
    <meta property="og:type" content="video.movie" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{{ audiovisual_record.images.0 }}" />
    <link rel="canonical" href="/{{ audiovisual_record.slug }}/">
    <style>
    .main-container.container {
        margin-top: 0px;
    }
    </style>
    {% endblock %}

{% block content %}
    <br>
    {% if audiovisual_record.name.50 %}
        <h1>{{ audiovisual_record.name|truncatechars:50 }} ({{ audiovisual_record.year }}) Torrents {% if request.user.is_superuser %}<a href="#" onclick="removeFilm('{{ audiovisual_record.id }}');" style="color: white;" class="btn btn-secondary">Remove entire film</a>{% endif %}</h1>
    {% else %}
        <h1>{{ audiovisual_record.name }} ({{ audiovisual_record.year }}) Torrents {% if request.user.is_superuser %}<a href="#" onclick="removeFilm('{{ audiovisual_record.id }}');" style="color: white;" class="btn btn-secondary">Remove entire film</a>{% endif %}</h1>
    {% endif %}

    <img style="float: right;" src="{{ audiovisual_record.images.0 }}" alt="Main cover of {{ audiovisual_record.name }}">

    <h5>Genres:</h5>
    <p><b>{{ audiovisual_record.genres | map:"name" | join:", " }}.</b></p>

    <h5>Directors:</h5>
    <p><b>{{ audiovisual_record.directors | map:"name" | join:", " }}.</b></p>

    <h5>Writers:</h5>
    <p><b>{{ audiovisual_record.writers | map:"name" | join:", " }}.</b></p>

    <h5>Stars:</h5>
    <p><b>{{ audiovisual_record.stars | map:"name" | join:", " }}.</b></p>

    {% if audiovisual_record.summary %}
    <h5>Summary:</h5>
    <p><b>{{ audiovisual_record.summary }}</b></p>
    {% endif %}

    {% for score in audiovisual_record.scores %}
        <div class="scoring-source">
            <img class="scoring-source-logo" src="/static/web/img/information_sources/{{ score.source_name }}.png">
            <h6 class="scoring-source-value">{{ score.value }}</h6>
        </div>
    {% endfor %}

    <div class="float-restore"></div>
    <hr>

    <div class="text-center">
    {% include 'web/fragment_social_links.html'  with text=audiovisual_record.name|add:' Downloads' url=request.build_absolute_uri %}
    </div>
    <br>

    <table class="table table-hover">
    <thead>
        <tr>
            <td class="text-center" colspan="{% if request.user.is_superuser %}5{% else %}4{% endif %}">
                <b>Download Sources</b>
            </td>
        </tr>
        <tr>
            <td><b>Quality</b></td><td><b>Source Language</b></td><td><b>Source</b></td><td><b>Name</b></td>
            {% if request.user.is_superuser %}<td><b>Remove</b></td>{% endif %}
        </tr>
    </thead>
    <tbody class="table-hover">

    {% for download in downloads %}
        <tr>
            <td onclick="window.open('{{ download.link }}', target='_blank');">{{ download.quality }}</td>
            <td onclick="window.open('{{ download.link }}', target='_blank');"><img style="width: 1.5em; height: 1.5em;" src="/static/web/img/languages/{{ download.lang }}.png"></td>
            <td onclick="window.open('{{ download.link }}', target='_blank');">{{ download.source_name }}</td>
            <td onclick="window.open('{{ download.link }}', target='_blank');">{{ download.name }}</td>
            {% if request.user.is_superuser %}
            <td>
                <a href="#" onclick="removeDownloadLink('{{ download.id }}');" style="color: white;" class="btn btn-secondary">Remove</a>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <br>
    <div class="text-center">
        <a href="javascript:history.back()" class="btn btn-secondary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go Back</a>
    </div>

    {% if related_records %}
    <hr>
    <div class="text-center">
    <h5>Related:</h5>
    {% for audiovisual_item in related_records %}
        {% include 'web/fragment_audiovisual_item.html' with ai=audiovisual_item %}
    {% endfor %}
    </div>
    {% endif %}

{% endblock %}

{% block body_extra_js %}
    {{ block.super }}
    {% if request.user.is_superuser %}
    <script>
    function removeFilm(pk) {
        if(window.confirm('Are you sure to remove this film?')) {
            window.location.href = '/remove-film/' + pk + '/';
        }
    }
    function removeDownloadLink(pk) {
        if(window.confirm('Are you sure to remove this link?')) {
            window.location.href = '/remove-download/' + pk + '/';
        }
    }
    </script>
    {% endif %}
{% endblock %}
