{% extends "web/base_with_menu_and_footer.html" %}
{% load static %}
{% block title %}Filmstreator - DMCA Information{% endblock %}

    {% block head_extra %}
    <meta name="robots" content="noindex">
    <meta name="description" content="DMCA Information page">
    {% endblock %}


{% block content %}

<h3 class="text-center">DMCA information</h3>
<hr>
<p>If you are a copyright owner or an agent thereof, and you believe that any content hosted on our web site infringes your copyrights, then you may submit a notification pursuant to the Digital Millennium Copyright Act (.DMCA.) by providing to our Designated Copyright Agent the following information in writing:</p>

<ol>
<li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>

<li>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works on the rarbg social website are covered by a single notification, a representative list of such works at that website.</li>

<li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material. Providing URLs in the body of an email is the only way to locate those files. URLs have to be to a direct download, and not to a details page. URLs in every DMCA notice have to be no more than 10.</li>

<li>Information reasonably sufficient to permit us to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted.</li>

<li>A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.</li>

<li>A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>

<li>A scanned physical document that proves you are or you are representing the copyright owner.</li>

<li>A valid email address username@copyrightcompany will help you to prove you're representing or you're the legitimate copyright owner. We will not process requests from free mailboxes (Gmail, Hotmail, Yahoo, AOL, MailRu etc)</li>

<li>All received emails have to be in plain/text. Our automatic system is not capable of understanding anything else.</li>

<li>All mails should be sent to dmca AT filmstreator.com or else they wont be processed.</li>

<li>We delete only .torrent files, not search pages / details pages. Only .torrent files might or might not violate someones copyright.</li>
</ol>

{% endblock %}
