{% load static %}
{% load miscellaneous %}
<a href="/{{ ai.slug }}/" style="color: white !important;">
    <div class="audiovisual-item-container" style="background-image: url('{{ ai.images.0 }}'); background-repeat: no-repeat; background-size: auto;">
        <h5 class="readable-text">{{ ai.name }} ({{ ai.year }})</h5>
        {% for score in ai.scores %}
            <div class="scoring-source scoring-source-small" style="position: absolute; bottom: 5px;">
                <img class="scoring-source-logo" src="/static/web/img/information_sources/{{ score.source_name }}.png" alt="{{ score.source_name }} logo">
                <h6 class="scoring-source-value">{{ score.value }}</h6>
            </div>
        {% endfor %}
    </div>
</a>