        <h5>Advanced search
            <a id="search-tooltip" data-toggle="tooltip" data-html="true"
               title data-original-title="All fields are optional. If any of them (or all) are empty, search wont use them. <br><br>You can search by <b>titles</b>, <b>writers</b>, <b>directors</b>, <b>actors</b>, <b>years</b>, <b>synopsis</b>.<br><br>You can <b>search by literal</b> texts by quoting them. &quot;Matt Damon&quot;, for example.<br><br>You can <b>exclude</b> text by placing a minus symbol in front, -2015 for example.">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </a>
        </h5>

        <form id="advanced-search-form" action="/s/" method="GET" autocomplete="off">
            <input type="hidden" name="ft" value="a">
            <label>Search:</label>
            <input type="text" class="form-control" placeholder="Title, writers, directors, actors, years" name="s"
                    value="{% if filter_params.ft == 'a' %}{{ filter_params.s }}{% endif %}">

            <label>Ordering:</label>
            <select name="ordering" class="form-control">
                <option value="-global_score"{% if filter_params.ordering == '-global_score' %} selected="selected"{% endif %}>Most relevant first</option>
                <option value="global_score"{% if filter_params.ordering == 'global_score' %} selected="selected"{% endif %}>Less relevant first</option>
            </select>
            <label>Wanted genres:</label>
            <select id="genres-select" class="form-control" name="genres__in" multiple="multiple" size="7">
                {% for genres_name in genres_names %}
                    <option value="{{ genres_name }}"
                    {% if genres_name in filter_params.genres__name__in %} selected="selected"{% endif %}>{{ genres_name }}</option>
                {% endfor %}
            </select>
            <label>Film from year:</label>
            <select name="year__gte" class="form-control">
                {% for y in year_range %}
                <option value="{{ y }}"{% if y == filter_params.year__gte %} selected="selected"{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
            <label>To year:</label>
            <select name="year__lte" class="form-control">
                {% if filter_params.year__lte %}
                    {% for y in year_range %}
                        <option a="a" value="{{ y }}"{% if y == filter_params.year__lte %} selected="selected"{% endif %}>{{ y }}</option>
                    {% endfor %}
                {% else %}
                    {% for y in year_range %}
                        <option b="b" value="{{ y }}"{% if forloop.last %} selected="selected"{% endif %}>{{ y }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <br>
            <div class="text-center">
                <input type="submit" name="submit" value="Search" class="btn btn-secondary">
            </div>
            <br><br>
        </form>
