<div class="collapse advanced-filters" id="collapseSearch">
    <div class="container">
        <form action="/" method="GET" autocomplete="off">

            <input type="hidden" name="formtype" value="advanced">

            <div class="row">
                <div class="col text-right">
                    <i style="color: white;" class="fa fa-window-close" id="hide-advanced-search" aria-hidden="true" data-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseSearch"></i>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="input-group mb-2 mr-sm-2" id="basic-search-form">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-search"></i></div>
                        </div>
                        <input type="text" class="form-control" placeholder="Search" name="name__icontains"
                        value="{% if request.GET.formtype == 'advanced' %}{{ request.GET.name__icontains }}{% endif %}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col numeric-input-range">
                    <label>From year</label>
                    <input name="year__gte" class="form-control" type="range" min="1980" max="{% now 'Y' %}"
                    value="{% if request.GET.formtype == 'advanced' %}{{ request.GET.year__gte }}{% else %}1980{% endif %}">
                </div>
                <div class="col numeric-input-range">
                    <label>To year</label>
                    <input name="year__lte" class="form-control" type="range" min="1980" max="{% now 'Y' %}"
                    value="{% if request.GET.formtype == 'advanced' %}{{ request.GET.year__lte }}{% else %}{% now 'Y' %}{% endif %}">
                </div>
            </div>

            <div class="row">
                <div class="col numeric-input-range">
                    <label>From score</label>
                    <input name="scores__value__gte" class="form-control" type="range" min="0" max="10"
                    value="{% if request.GET.formtype == 'advanced' %}{{ request.GET.scores__value__gte }}{% else %}0{% endif %}">
                </div>
                <div class="col numeric-input-range">
                    <label>To score</label>
                    <input name="scores__value__lte" class="form-control" type="range" min="0" max="10"
                    value="{% if request.GET.formtype == 'advanced' %}{{ request.GET.scores__value__lte }}{% else %}10{% endif %}">
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-primary">Search</button>
                </div>
            </div>

        </form>
    </div>
</div>
