<form action="/" method="GET" autocomplete="off" class="form-inline my-2 my-lg-0">

    <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-search"></i></div>
        </div>
        <input type="text" class="form-control" placeholder="Search" name="name__icontains">

        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            More ...
        </a>
        <a class="btn btn-primary" href="/">
            Clean
        </a>

    </div>

</form>

