{% extends "web/base_with_menu_and_footer.html" %}
{% load static %}
{% block title %}Filmstreator{% endblock %}

{% block content %}

    {% include 'web/fragment_landing_filters.html' %}


    <!--
    Yall example
    <img class="lazy" src="placeholder.jpg" data-src="image-to-lazy-load.jpg" alt="Alternative text to describe image.">
    -->

{{ search.current_page }} / {{ search.total_pages }}
{% for audiovisual_item in search.results %}
    {% include 'web/fragment_audiovisual_item.html' with ai=audiovisual_item %}
{% endfor %}


{% endblock %}


{% block body_extra_js %}
    <script src="{% static 'web/js/landing.js' %}"></script>
{% endblock %}
