{% extends "web/base_with_menu_and_footer.html" %}
{% load static %}
{% block title %}Filmstreator{% endblock %}

    {% block head_extra %}

    {% if request.GET.formtype %}
    <meta name="description" content="Filmstreator search result page">
    {% else %}
    <meta name="description" content="All genres with the best">
    {% endif %}
    {% endblock %}

{% block content %}

    {% if request.GET.formtype %}
    {% include 'web/fragment_page_navigation.html' %}
    <!-- results -->
    <div class="text-center">
    {% for audiovisual_item in search.results %}
        {% include 'web/fragment_audiovisual_item.html' with ai=audiovisual_item %}
    {% endfor %}
    </div>
    {% include 'web/fragment_page_navigation.html' %}
    {% else %}

{#    {% for genre_name, audiovisual_records in genres.items %}#}
{#        {% include 'web/fragment_genre_films.html' with genre_name=genre_name audiovisual_records=audiovisual_records %}#}
{#    {% endfor %}#}

    {% endif %}
{% endblock %}


{% block body_extra_js %}
    {{ block.super }}
    <script src="{% static 'web/js/landing.js' %}"></script>
{% endblock %}
