{% extends "web/base_with_menu_and_footer.html" %}
{% load static %}
{% block title %}Filmstreator{% endblock %}

    {% block head_extra %}
    {{ block.super }}
    {% if request.GET.formtype %}
    <meta name="description" content="Filmstreator search result page">
    {% else %}
    <meta name="description" content="Filmstreator is a new website where you can find the movie you want to watch today. Use the filters where you will select the genre you like best. We have the score of each movie so you can choose the best one. Enter the movie, select the source to download and you will be redirected to the website that stores the download. And without advertising!. Enjoy the best movies of the moment and get comfortable. Welcome to Filmstreator">
    {% endif %}
    <meta property="og:title" content="Filmstreator" />
    {% endblock %}

{% block content %}

    {% if request.GET.formtype %}
    <br>
    <h1 class="text-center">Search results:</h1>
    {% include 'web/fragment_page_navigation.html' %}

    <!-- results -->
    <div class="text-center">
    {% for audiovisual_item in search.results %}
        {% include 'web/fragment_audiovisual_item.html' with ai=audiovisual_item %}
    {% empty %}
        <p>Ups! there is nothing to show here ...</p>
    {% endfor %}
    </div>
    <br>
    {% include 'web/fragment_page_navigation.html' %}
    {% else %}

    <div class="text-center">
    <br>
    <h2>Recently added</h2>
    {% for audiovisual_item in last_records %}
        {% include 'web/fragment_audiovisual_item.html' with ai=audiovisual_item %}
    {% endfor %}
    </div>

    {% endif %}

{% endblock %}
