{% extends "web/base_with_menu_and_footer.html" %}
{% load static %}
{% block title %}Filmstreator - Terms and Conditions{% endblock %}
{% block head_extra %}
<meta name="description" content="Terms and Conditions Page">
{% endblock %}
{% block content %}
<h3 class="text-center">Terms and Conditions</h3>
<hr>
<p>Filmstreator is a simple website that collects links to third-party pages that host torrents, magnet links and other movie download options automatically.</p>
<p>We do not host direct links to movies, torrents or even magnets links. We only index third-party sources and make this information visible allowing us to filter and search for it.</p>
<p>We do not appropriate third-party content, our links redirect users to the final websites, where they can download.</p>
<p>Because everything works by code that automates the search and indexing and we are not the ones who own this information, we are not responsible for anything shown on this website.</p>
{% endblock %}
